#title-list
{
    font-size: 7vmin;
    text-align: center;
    color: var(--lightShade);
    padding: .5vh 0vw;
    height: 10%;
    text-shadow: -1px 5px 7px var(--shadow);

}
#list
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    height: 90%;
    width: 100%;
    padding: 2vh 1vw;
    gap: 1.25vh;
    overflow: auto;
}
.task
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 7vh;
    background-color: var(--lightShade);
    padding: .5vh .5vw;
    color: var(--darkShade);
    border-radius: 5px;
    height: 7vh;
    box-shadow: 1px 1px 5px 1px var(--shadow);
    transition: height .3s ease;
}
.editable
{
    background-color: transparent;
    box-shadow: none;
    border: none;
    font-family: inherit;
    font-size: inherit;
    height: inherit;
}
.editing
{
    height: 10vh;
}
#btns-div
{
    display: grid;
    height: 100%;
    grid-template-columns: repeat(3, 1fr);
    gap: .1vw;
    align-items: stretch;
    width: 9vw;
}
.check
{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 3px;
    cursor: pointer;
    transition: all .2s ease;
}
#check
{
    appearance: none;
    border: 1px solid var(--darkAccent);
    background-color: var(--lightAccent);
    color: var(--darkAccent);
    opacity: 0;
}
#check::before
{
    content: "✔";
}
#check:checked
{
    background-color: var(--darkAccent);
    color: var(--lightAccent);
}
#edit
{
    appearance: none;
    border: 1px solid var(--darkAccent);
    background-color: var(--lightAccent);
    color: var(--darkAccent);
}
#edit::before
{
    content: "✎";
}
#edit:checked
{
    background-color: var(--darkAccent);
    color: var(--lightAccent);
}
#delete
{
    border: 1px solid var(--darkAccent);
    background-color: var(--lightAccent);
    color: var(--darkAccent);
    height: 100%;
    opacity: 0;
    transition: background-color .2s ease, opacity .3s ease;
}
#delete:hover
{
    background-color: var(--darkAccent);
    color: var(--lightAccent);
}
#prio:disabled
{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}