#content
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}
#title-list
{
    font-size: 7vmin;
    text-align: center;
    color: var(--sec);
    padding: .5vh 0vw;
    height: 10%;
    border-bottom: 2px solid var(--third);
}
#list
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    height: 90%;
    width: 100%;
    padding: 2vh 1vw;
    gap: 1.25vh;
    overflow: auto;
    color: var(--dom);
}
.task
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 7vh;
    background-color: var(--sec);
    padding: .5vh .5vw;
    color: inherit;
    border-radius: 5px;
    border: 1px solid var(--third);
    box-shadow: 1px 1px 5px 1px var(--shadow);
    transition: height .3s ease;
}
.task:hover
{
    transform: translate3d(2px, 2px, 2px);
}
.editable
{
    background-color: transparent;
    box-shadow: none;
    border: none;
    font-family: inherit;
    font-size: inherit;
    height: inherit;
}
.editing
{
    height: 10vh;
}
#btns-div
{
    display: grid;
    height: 100%;
    grid-template-columns: repeat(3, 1fr);
    align-items: stretch;
    width: 9vw;
}
.check
{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 3px;
    cursor: pointer;
    transition: all .2s ease;
}
#check
{
    appearance: none;
    border: 1px solid var(--third);
    color: var(--dom);
}
#check::before
{
    content: "✔";
}
#check:checked
{
    background-color: var(--third);
}
#edit
{
    appearance: none;
    border: 1px solid var(--third);
    color: var(--dom);
}
#edit::before
{
    content: "✎";
}
#edit:checked
{
    background-color: var(--third);
}
#delete
{
    background-color: var(--third);
    height: 100%;
    transition: display .2s ease;
}
#prio:disabled
{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}