#add
{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99;
    height: 6vmin;
    width: 6vmin;
    font-size: 4vmin;
    margin: 1vh 1vw;
    background-color: var(--main);
    box-shadow: 0px 0px 20px 5px var(--shadow);
    border-radius: 50%;
    color: var(--darkShade);
    transition: transform .2s ease;
}
#add:hover
{
    transform: scale(1.1);
}
#add-div
{
    position: fixed;
    top: 25%;
    left: 35%;
    z-index: 999;
    background-color: var(--main);
    color:var(--lightShade);
    box-shadow: 0px 0px 20px 5px var(--shadow);
    border: 10px solid var(--darkShade);
    border-radius: 5px;
    width: 30%;
    height: 50%;
    display: grid;
    gap: 1vh .25vw;
    padding: 1vh .25vw;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .5fr 1fr 2fr .5fr .5fr;
}
#add-title
{
    font-size: 4vmin;
    grid-column: 1/3;
    color: var(--darkShade);
    text-align: center;
}
#select-list
{
    background-color: var(--darkShade);
    color: inherit;
    grid-column: 2/3;
    grid-row: 2/3;
    border-radius: 3px;

} 
#task-name
{
    background-color: var(--darkShade);
    color: inherit;
    grid-column:1/2;
    grid-row: 2/3;
    padding: .25vh .25vw;
    border-radius: 3px;
}
#task-name::placeholder
{
    color:inherit;
}
#task-desc
{
    background-color: var(--darkShade);
    color: inherit;
    grid-column: 1/3;
    grid-row: 3/4;
    padding: .25vh .25vw;
    border-radius: 3px;

}
#task-desc::placeholder
{
    color:inherit;
}
#task-date
{
    background-color: var(--darkShade);
    grid-column: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 3px;

}
#task-prio
{
    background-color: var(--darkShade);
    grid-column: 2/2;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 3px;
}
#task-submit
{
    grid-column: 1/3;
    font-size: 3vmin;
    background-color: var(--darkAccent);
    color: var(--lightAccent);
    border-radius: 3px;
}
/*-----------------------------------ANIMATION-------------------------------*/

.popIn
{
    animation: popIn .2s ease;
    transform-origin: center center;
}

@keyframes popIn
{
    0%
    {
        transform: scale(0);
    }
    100%
    {
        transform: scale(1);
    }
} 
.popOut
{
    animation: popOut .2s ease;
    transform-origin: center center;
}
@keyframes popOut
{
    0%
    {
        transform: scale(1);
    }
    100%
    {
        transform: scale(0);
    }
} 
