*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body
{
    height: 100vh;
    width: 100vw;
    background-color: rgb(141, 56, 56);
    font-size: 1vmax;
}
button
{
    border: none;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}