:root 
{
    --dom: #000000;
    --sec: #FAE9F8;
    --third: #A1729C;
    --shadow: rgba(5, 5, 5, 0.5);
}
*
{
    box-sizing: border-box;
    margin: 0;
    overflow: hidden;
    padding: 0;
    color: var(--sec);
}
html, body
{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to right top, #000000, #2c1f24, #533846, #7a546e, #a1729c);
}
#content
{
    height: 100%;
    width: 100%;
}
label
{
    color: inherit;
}
button
{
    border: none;
    font-size: inherit;
    color: inherit;
    background-color: inherit;
    cursor: pointer;
    transition: transform .2s ease;
}
button:hover
{
    transform: scale(1.1);
}
input, select,option, input:focus, select:focus
{
    background-color: inherit;
    border: none;
    color: inherit;
    font: inherit;
    box-shadow: none;
    outline: none;
}
#screen-cover
{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 99;
    opacity: 50%;
    background-color: black;
}
.opIn
{
    animation: opIn .2s ease-in-out;
}
@keyframes opIn 
{
    0% 
    {
        opacity: 0%;
    }
    100%
    {
        opacity: 50%;
    }
}
.opOut
{
    animation: opOut .2s ease-in-out;

}
@keyframes opOut
{
    0% 
    {
        opacity: 50%;
    }
    100%
    {
        opacity: 0%;
    }
}
.slideDown
{
    animation: slideDown .2s ease-in;
    transform-origin: top center;
}

@keyframes slideDown
{
    0%
    {
        transform: rotateX(90deg);
    }
    100%
    {
        transform: rotateX(0deg);
    }
} 
.slideUp
{
    animation: slideUp .2s ease-in;
    transform-origin: top center;
}
@keyframes slideUp
{
    0%
    {
        transform: rotateX(0deg);
    }
    100%
    {
        transform: rotateX(90deg);
    }
} 

