:root 
{
    --lightShade: #F6F7F6;
    --lightAccent: #9D91AE;
    --main: #8BB1F1;
    --darkAccent: #876A8B;
    --darkShade: #324B8C;
    --shadow: rgba(5, 5, 5, 0.5);
}
@font-face 
{
    font-family: 'gilroy';
    src: url('./Gilroy-ExtraBold.otf') format('opentype'),
    url('./Gilroy-Light.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}
*
{
    font-family: 'gilroy';
    box-sizing: border-box;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
html, body
{
    height: 100vh;
    width: 100vw;
}
#content
{
    height: 100%;
    width: 100%;
    background: var(--darkShade);
    color: var(--lightShade);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center
}
label
{
    color: inherit;
}
button
{
    border: none;
    font-size: inherit;
    background-color: inherit;
    color: inherit;
    cursor: pointer;
    outline: none;
}
input, select,option, input:focus, select:focus, textarea
{
    background-color: inherit;
    border: none;
    color: inherit;
    font: inherit;
    box-shadow: none;
    outline: none;
    cursor: default;
    resize: none;
}
#screen-cover
{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 99;
    opacity: 50%;
    background-color: black;
}
.opIn
{
    animation: opIn .2s ease-in-out;
}
@keyframes opIn 
{
    0% 
    {
        opacity: 0%;
    }
    100%
    {
        opacity: 50%;
    }
}
.opOut
{
    animation: opOut .2s ease-in-out;

}
@keyframes opOut
{
    0% 
    {
        opacity: 50%;
    }
    100%
    {
        opacity: 0%;
    }
}
.slideDown
{
    animation: slideDown .2s ease-in;
    transform-origin: top center;
}

@keyframes slideDown
{
    0%
    {
        transform: rotateX(90deg);
    }
    100%
    {
        transform: rotateX(0deg);
    }
} 
.slideUp
{
    animation: slideUp .2s ease-in;
    transform-origin: top center;
}
@keyframes slideUp
{
    0%
    {
        transform: rotateX(0deg);
    }
    100%
    {
        transform: rotateX(90deg);
    }
} 

