/*-------------------------Header---------------------------------------*/
#expand-menu-btn
{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    border-radius: 50%;
    color: var(--sec);
    padding: 1vh 1vw;
    font-size: 4vmin;
}

/*-------------------------Sliding Menu---------------------------------*/
#left-menu
{
    position: fixed;
    display: flex;
    background-color: var(--dom);
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    top: 0%;
    left: 0%;
    height: 100%;
    color: var(--sec);
    width: 12vw;
    z-index: 999;
    box-shadow: 0 3px 5px var(--shadow);
}
#top-div-left-menu
{
    height: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1vw;
    align-items: center;
    padding: 0 1vw;
}
#retract-menu-btn
{
    font-size: 3vmin;
    color: var(--sec);
}
#name-menu
{
    font-size: 2vmin;
    color: var(--sec);
}
#list-btn-container
{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
}
#lists-container
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    font-size: 1.5vmin;
}
.listItem
{
    padding: 1vh .2vw;
}
.menu-btn
{
    border-top: .1vh solid var(--third);
    padding: 1.5vh 0vw;
    font-size: 2.5vmin;
}
#list-creator-form
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#list-creator-form input
{
    background-color: transparent;
    border: 1px solid var(--sec);
}
#list-creator-form button
{
    background-color: transparent;
    font-weight: 900;
    font-size: 3vmin;
}
/* Animations */
.slideRight
{
    animation: slideRight .2s ease-in-out;
}
@keyframes slideRight
{
    0%
    {
        transform: translateX(-100%);
    }
    100%
    {
        transform: translateX(0%);
    }
}
.slideLeft
{
    animation: slideLeft .2s ease-in-out;
}
@keyframes slideLeft
{
    0%
    {
        transform: translateX(0%);
    }
    100%
    {
        transform: translateX(-100%);
    }
} 

