/*-------------------------Header---------------------------------*/
#top-menu 
{
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 6vh;
  color: white;
  width: 100%;
  padding: 0vh 1vw;
  font-size: 3vmin;
  z-index: 99;
}
/*-------------------------Sliding Menu---------------------------------*/
#left-menu
{
    position: fixed;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    top: 0%;
    left: 0%;
    height: 100%;
    color: white;
    width: 15vw;
    z-index: 999;
    box-shadow: 0 3px 5px black;
}
#top-div-left-menu
{
    height: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1vw;
}
#menu-retract-btn
{
    font-size: 3vmin;
}
#menu-site-name
{
    font-size: 2vmin;
}
.menu-btn
{
    border-top: .1vh solid rgba(255, 255, 255, 0.5);
    border-bottom: .1vh solid rgba(255, 255, 255, 0.5);
    padding: 1.5vh 0vw;
    font-size: 2.5vmin;
}

#screen-cover
{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 99;
    opacity: 30%;
    background-color: black;
}

/* Animations */
.slideIn
{
    animation: slideIn .2s ease-in-out;
}
@keyframes slideIn
{
    0%
    {
        transform: translateX(-100%);
    }
    100%
    {
        transform: translateX(0%);
    }
}
.slideOut
{
    animation: slideOut .2s ease-in-out;
}
@keyframes slideOut
{
    0%
    {
        transform: translateX(0%);
    }
    100%
    {
        transform: translateX(-100%);
    }
} 
.opIn
{
    animation: opIn .2s ease-in-out;
}
@keyframes opIn 
{
    0% 
    {
        opacity: 0%;
    }
    100%
    {
        opacity: 30%;
    }
}
.opOut
{
    animation: opOut .2s ease-in-out;

}
@keyframes opOut
{
    0% 
    {
        opacity: 30%;
    }
    100%
    {
        opacity: 0%;
    }
}
